body {
  font-family: 'Open Sans', sans-serif;
}

.header-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 56px;
}

.border {
  width: 80%;
  height: 1px;
  background: rgba(61, 23, 61, 0.133);
}